<!DOCTYPE html>
html
  head
    title Верстающий Фатеж — Наверстай упущенное
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-title" content="Фатеж")
    meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
    link(rel="stylesheet" href="/stylesheets/application.css")
    link(rel="apple-touch-icon" href="/images/touch-icon.png")

  body
    - if (process.env.NODE_ENV == "production")
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-1522660-23', 'auto');
        ga('send', 'pageview');

    #application-root

    script(src="/javascripts/application.js")
