.application_container {
  max-width: $main-width;
  margin: 0 auto;
  padding: 2rem 0;
}

.application_container-body-enter::before {
  position: fixed;
  top: 0;
  left: 0;

  width: 1%;

  content: "";
  transition: width .3s;

  border-bottom: 5px solid $text-color;
}

.application_container-body-enter.application_container-body-enter-active::before {
  width: 100%;
}
