.post {
  padding: 4rem 0 0;

  p {
    margin: 0 0 1.5rem;
  }
}

.post-header {
  padding: 0 1rem;
}

.post-title {
  padding: 0 0 .25rem;

  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;
}

.post-date {
  letter-spacing: 2px;
  text-transform: uppercase;

  font-size: .7rem;
  line-height: 1.14;
}

.post-contents {
  box-sizing: border-box;
  max-width: $content-width;
  padding: 1rem;
}
