.post_header {
  padding: 0 $global-padding;
}

.post_header-title {
  padding: 0 0 .25rem;

  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.2;

  a {
    text-decoration: none;

    color: inherit;
  }
}

.post_header-date {
  letter-spacing: 2px;
  text-transform: uppercase;

  font-size: .7rem;
  line-height: 1.14;
}
