$author-img-size: 60px;

.post_author-img {
  width: $author-img-size;
  height: $author-img-size;
  float: left;
  margin: .2rem 1rem 1rem 0;
}

.post_author-name {
  font-size: 90%;
}

.post_author-bio {
  font-size: 70%;
  max-width: 23rem;
}
