$author-img-size: 60px;

.post_author {
  overflow: hidden;
}

.post_author-img {
  float: left;

  width: $author-img-size;
  height: $author-img-size;
  margin: .2rem 1rem 0 0;
}

.post_author-name {
  font-size: 90%;
}

.post_author-bio {
  overflow: hidden;

  max-width: $narrow-content-width;

  font-size: 70%;
}
