html {
  font: normal normal 20px/1.3 $serif;
  -webkit-text-size-adjust: none;
}

@media $tablet {
  body {
    padding: 0 .5rem;
  }
}

@media $mobile {
  html {
    font-size: 16px;
  }
}

body {
  color: $text-color;
  background: $body-bg-color;
}
