$serif: Times New Roman, Georgia, serif;
$body-bg-color: #fff;
$text-color: #030303;

$tablet: (max-width: 768px);
$ereader: (max-width: 600px);
$mobile: (max-width: 480px);
$low-desktop: (max-width: 900px);
