.typograf-nowrap {
  white-space: nowrap;
}

.typograf-oa-sp-lbracket {
  margin-right: .3em;
}

.typograf-oa-lbracket,
.typograf-oa-n-lbracket {
  margin-left: -.3em;
}

.typograf-oa-comma {
  margin-right: -.2em;
}

.typograf-oa-comma-sp {
  margin-left: .2em;
}

.typograf-oa-sp-lquot {
  margin-right: .44em;
}

.typograf-oa-lquot,
.typograf-oa-n-lquot {
  margin-left: -.44em;
}
