extends ./layouts/application.jade

block contents
  table(width="100%" style="height: 100%")
    tr
      td(valign="center" align="center")
        img(src="/images/fetch.gif" alt="Under Construction")
