<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Верстающий Фатеж — Наверстай упущенное</title>
    <link rel="stylesheet" href="/stylesheets/application.css" />
  </head>
  <body>
    <table width="100%" style="height: 100%">
      <tr>
        <td valign="center" align="center">
          <img src="/images/fetch.gif" alt="Under Construction" />
        </td>
      </tr>
    </table>
  </body>
</html>
