<!DOCTYPE html>
html
  head
    title Верстающий Фатеж — Наверстай упущенное
    link(rel="stylesheet" href="/stylesheets/application.css")

  body
    block contents

    script(src="/javascripts/application.js")
